@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
}

@layer base {
  body {
    @apply bg-[#E4E3E0] text-[#141414];
  }
}
